.merchantnavbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color:   rgba(0, 0, 0, 0.689);
  padding: 0px, 50px;
}

.merchantnavbar h1{
  color: gold;
}

.merchantnavbar span{
  color: beige;
}

.merchantnavbar a{
  color: white;
  text-decoration: none;
}

.merchantnavbar a {
    margin: 0px 30px;
}

/* .merchantnavbar .dropitem{
  color: ; 
} */

.merchantnavbar .dropitem:hover{
  width: auto; 
}

.merchantnavbar .dropmenu{
  background-color: gray;

}

